IOTKit_CM33_S_NS/out/IOTKit_CM33_ns/V2MMPS2/instrumented.axf
IOTKit_CM33_S_NS/out/IOTKit_CM33_ns/V2MMPS2/instrumented.lst
IOTKit_CM33_S_NS/out/IOTKit_CM33_s/V2MMPS2/IOTKit_CM33_s.list
verifier/instrumented.axf
verifier/instrumented.lst
verifier/logs/timing.log
